body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #5072A7;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.appear {
    opacity: 1;
    transform: translateY(0);
}

.custom-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.custom-button:hover {
    background-color: #45a049;
}

ul li h5,
ul li p {
    display: inline;
    margin: 0;
}
