body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #5072A7;
}

fieldset {
    width: 70%;
    height: 150px;
    margin: 20px;
    border: 2px solid #ffffff; /* Set a consistent border size for all fieldsets */
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.appear {
    opacity: 1;
    transform: translateY(0);
}
H4{
    text-align: center;
}
/* Add this to your en.css file */
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 150px;
    margin: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.custom-button {
    
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Adjust the margin-top to add space between the h4 and button */
}

.custom-button:hover {
    background-color: #45a049;
}
